.container_product_Cart{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 1em;
  width: 100%;
  padding-bottom: 1em;
  padding-top: 1em;
  border-bottom: 1px solid white;
  .infoBlock_product_Cart{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 1em;
    width: 100%;
    .img_product_Cart{
      width: 100px;
    }
    .name_price_Cart{
      display: flex;
      flex-direction: column;
      row-gap: 0.5em;
      .price_product_Cart{
        display: flex;
        flex-direction: row;
        column-gap: 0.5em;
        .new_price_product_Cart{}
        .old_price_product_Cart{
            display: flex;
            text-decoration:  line-through;
        }
        .noActive{
          display: none;
        }
      }
      .quantity_product_Cart{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: inherit;
        border: 1px solid white;
        width: 6em;
        .quantity_btn_Cart{
          display: flex;
          justify-content: center;
          align-items: center;
          //padding: 0.2rem;
          width: 1em;
          font-family: Arial, sans-serif;
          font-size: 1.4rem;
          color: white;
          background: inherit;
        }
        .quantity_input_Cart{
          width: 2em;
          padding: .4rem;
          font-size: 0.8rem;
          font-weight: 600;
          text-align: center;
          border: 0;color: white;
          background: inherit;
        }

      }
    }
  }
  .delete_product_Cart{
    width: 2em;
    background: inherit;
    color: white;
    img{
      background: inherit;
      width: 2em;
    }
  }
}