.marginContainer{
  margin-bottom: 3em;
  width: 90%;
  .container_ChristmasTrees {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2em auto;

  .navBlock_ChristmasTrees{
    display: flex;
    flex-direction: row;
    column-gap: 0.8em;
    font-family: 'proximaNova', sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: #6c676a;
    line-height: 1.5;
    .linkHome{}
  }
  .headBlock_ChristmasTrees{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .backImage{
      margin: 1em auto;
      //width: 1773px;
      //height: 411px;
      width: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }
    .h2_ChristmasTrees{
      text-align: center;
      font-family: 'CustomFont', sans-serif;
      letter-spacing: normal;
      font-size: 50px;
      font-style: italic;
      color: #48494e;
    }
  }
}
  .container_products{
    display: grid;
    //grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-columns: auto auto auto auto;
    gap: 1em;
    width: 100%;
  }
}



//@media screen and (min-width: 992px) and (max-width: 1199px) {
// .container_ChristmasTrees {
//    margin-top: 35vh;
//    text-align: center;
//  }}
//@media screen and (min-width: 1200px)  {
//  .container_ChristmasTrees{
//    margin-top: 35vh;
//    text-align: center;
//  }}