@font-face {
  font-family: 'proximaNova';
  src: url("../../../../../Multimedia/ProximaNovaT-Thin.ttf");
}

  .informSection_Product{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid #232429;
    margin: 0.5em auto;
    padding-bottom: 1.5em;
    width: 100%;
    .informSection_head{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      cursor: pointer;
      .informSection_head_h3{
        font-family: proximaNova, sans-serif;
        font-size: 16px;
        text-align: left;
        word-spacing: 0.4em;
        letter-spacing: 0.7px;
        font-weight: 800;
        text-transform: uppercase;
        color: #232429;
      }
      .informSection_head_btn{
        display: flex;
        cursor: pointer;
        .informSection_head_btnPlus{display: flex;}
        .informSection_head_btnMinus_none{display: none}
        .informSection_head_btnMinus{display: flex;}
        .displayNone{display: none}
      }
    }
    .informSection_body_none{
      display: none;
      font-family: proximaNova, sans-serif;
      font-size: 16px;
      text-align: left;
      word-spacing: 0.4em;
      letter-spacing: 0.7px;
      font-weight: 600;
      padding-top: 1em;
      color: #999CA6;
    }
    .informSection_body{
      display: flex;
    }

  }
