
@font-face {
  font-family: 'proximaNova';
  src: url("../../../../../Multimedia/ProximaNovaT-Thin.ttf");
}
@font-face {
  font-family: 'didotLTPro';
  src: url("../../../../../Multimedia/DidotLTPro-Italic.ttf");
}

.marginContainer_ProductPage{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 4em auto;
  .container_ProductPage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: proximaNova, sans-serif;
    font-size: 16px;
    font-weight: 600;
    width: 50%;
    .navBlock_ProductPage{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .wayFrom_ProductPage{
        display: inline-flex;
        font-family: proximaNova, sans-serif;
        font-size: 15px;
        font-weight: 600;
        column-gap: 0.5em;
        color: #999CA6;
        .path_links{
          color: #a7a5a9;
        }
        .path_name{
          color: rgba(153, 156, 166, 0.67);
        }
      }
      .turnPages_ProductPage{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        color: #a7a5a9;
        margin: 1em;
        .btn_navBlock{
          display: flex;
          align-items: center;
          justify-content: center;
          background: transparent;
          font-size: 16px;
          padding: 5px;
          color: #a7a5a9;
        }
      }
    }
    .product_Card{
      display: flex;
      justify-content: center;
      flex-direction: row;
      column-gap: 2em;
      align-items: flex-start;
      color: #575757;
      width: 100%;
      .imgBlock_Product{
        display: flex;
        justify-content: center;
        flex-direction: column;
        row-gap: 1em;
        width: 60%;
        font-family: proximaNova, sans-serif;
        font-size: 16px;
        text-align: left;
        word-spacing: 0.4em;
        letter-spacing: 0.7px;
        font-weight: 600;
        color: #999CA6;
      }
      .infoBlock_Product{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 0.6em;
        width: 40%;

        .name_Product{
          display: flex;
          align-items: center;
          justify-content: center;
          background: transparent;
          font-size: 30px;
          font-weight: 400;
          font-family: 'didotLTPro', sans-serif;
        }
        .SKU_Product {
          font-size: 15px;
          font-weight: 600;
          font-family: 'proximaNova', sans-serif;
        }
        .price_Product {
          font-size: 20px;
          font-weight: 600;
          font-family: 'proximaNova', sans-serif;
          padding: 20px 0 0 0;
        }
        .Quantity_Product{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-top: 1.5em;
          margin-bottom: 1.5em;
          row-gap: 1em;
          width: 50%;
          .quantity_Name{
            font-size: 14px;
            color: #f73f23;
            font-weight: 600;
            font-family: 'proximaNova', sans-serif;
          }
          .quantity_Block{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            box-shadow: 0 2px 3px rgba(0,0,0,0.16), 0 2px 3px rgba(0,0,0,0.23);
            .quantity_btn_Block{
              display: flex;
              justify-content: center;
              align-items: center;
              padding: .4rem;
              width: 2rem;
              font-size: 1.9rem;
              color: #575757;
            }
            .quantity_input_Block{
              width: 4rem;
              padding: .7rem;
              font-size: 1rem;
              font-weight: 600;
              text-align: center;
              border: 0;
            }
          }
        }
        .button_Product{
          display: flex;
          width: 100%;
          flex-direction: column;
          row-gap: 1em;

          .button_Add_to_Cart_Product{
            padding: 10px;
            border-radius: 1em;
            width: 100%;
            color: white;
            font-family: proximaNova, sans-serif;
            font-size: 16px;
            font-weight: 800;
            background-color: #f73f23;
            &:hover{
              background-color: rgba(247, 63, 35, 0.72);
              transition: 0.3s ease;
            }
          }
          .button_Buy_Now_Product{
            background-color: #232429;
            width: 100%;
            border-radius: 1em;
            font-family: proximaNova, sans-serif;
            font-size: 16px;
            font-weight: 800;
            padding: 10px;
            color: white;
            &:hover{
              background-color: rgba(35, 36, 41, 0.74);
              transition: 0.3s ease;
            }
          }
        }
        .informSectionsBlock_Product{
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: flex-start;
          width: 100%;

        }
      }
    }
  }
}