
$font-stack: 1em Arial, Helvetica, sans-serif;
$font-family-title: "Oswald", sans-serif;
$whiteColor: #ffffff;
$redColor: #f63f25;
$double-color: #2f2b29;
$colors: (
        "white":#ffffff,
        "red": #f63f25,
        "black": #000000,
);
@keyframes burgerAnimation {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@font-face {
  font-family: 'proximaNova';
  src: url("../../Multimedia/ProximaNovaT-Thin.ttf");
}


@mixin disFlex($display, $flexFlow, $jusCon) {
  display: $display;
  flex-flow: $flexFlow;
  justify-content: $jusCon;
}

@mixin disJusAli($display, $jusCon, $aliIte) {
  display: $display;
  justify-content: $jusCon;
  align-items: $aliIte;
}

.header {
  @include disFlex(flex, column nowrap, center);
  text-align: center;
  font: $font-stack;
  width: inherit;
  background-color: map-get($colors, "white");
  .redHead {
    font-size: 1em;
    font-family: 'proximaNova', sans-serif;
    font-weight: 600;
    letter-spacing: 0.7em;
    text-align: center;
    text-transform: uppercase;
    padding: 1em;
    background-color: $redColor;
    color: $whiteColor;
  }
  .whiteHead {
    @include disJusAli(flex, center, center);
    flex-direction: column;
    padding-top: 2em;
    padding-bottom: 2em;
    width: 100%;
    .whiteHead_container {
      @include disJusAli(flex, center, center);
      flex-direction: column;
      width: 90%;
      .whiteHead_header_title_burger {
        h1 {
          text-align: center;
          font-size: 1.8em; // Arial Narrow, sans-serif
          font-weight: 600;
          cursor: pointer;
          color: $double-color;
        }
        .whiteHead_header_title_h1 {
          font-family: $font-family-title;
          font-optical-sizing: auto;
          font-weight: 400;
          font-style: normal;
          text-transform: uppercase;
        }
        .header_burger_container {
          @include disJusAli(none, flex-end, center);
          margin-right: 2em;
          position: absolute;
          top: 6.3em;
          right: 2em;
           .header_burger {
             @include disJusAli(none, flex-end, center);
             position: relative;
             width: 1.9em;
             height: 1.13em;
             & span {
               height: 2px;
               width: 80%;
               transform: scale(1);
               background-color: $double-color;
             }
             &:before, &:after {
               content: '';
               position: absolute;
               height: 2px;
               width: 100%;
               background-color: $double-color;
               transition: all 0.4s ease 0s;
             }
             &:before {
               top: 0;
             }
             &:after {
               bottom: 0;
             }
             &.active span {
               transform: scale(0);
             }
             &.active:before {
               top: 50%;
               transform: rotate(-45deg) translate(0, -50%);
             }
             &.active:after {
               bottom: 50%;
               transform: rotate(45deg) translate(0, 50%);
             }
           }
         }
      }
      .whiteHead_menu {
        @include disJusAli(inline-flex, center, center);
        width: 100%;
        padding-top: 1em;
        .whiteHead_menu_socialMediaButton {
          display: flex;
          justify-content: center;
          & a img {
            background-size: contain;
            width: 1.5em;
            height: 1.5em;
            margin: 0.5em;
            max-width: 100%;
            background: center inherit;
          }
        }
        .navigation {
          @include disFlex(flex, row wrap, center);
          align-content: center;
          .menu {
            @include disFlex(flex, row wrap, center);
            align-content: center;
            column-gap: 2.3em;
            row-gap: 1em;
            font-size: 1rem;
            font-family: 'proximaNova', sans-serif;
            font-weight: 600;
            cursor: pointer;
            padding: 0.5em;
            & a {
              color: #1a1a1a;
              &:hover {
                color: $redColor;
              }
            }
          }
        }
        .whiteHead_menu_logAndCart {
          @include disJusAli(flex, center, flex-start);
          .container_logAndCart{
            @include disJusAli(flex, center, center);
            .logIn, .cart {
              display: flex;
              align-items: center;
              font-size: 0.8rem;
              font-family: 'proximaNova', sans-serif;
              white-space: nowrap;
              font-weight: 800;
              width: 100%;
              background-color: $whiteColor;
            }
            .logInImage {
              background-image: url("../../Multimedia/9035990_person_circle_sharp_icon.png");
              background-color: $whiteColor;
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;
              position: center;
              max-width: 100%;
              height: 2em;
              width: 2em;
              padding: 8px;
              margin-right: 0.5em;
            }
            .cart {
              background: inherit;
              transition: .5s ease;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .header {
    .redHead {}
    .whiteHead {
      .whiteHead_container {
        .whiteHead_header_title_burger {
          h1 {}
          .whiteHead_header_title_h1 {}
          .header_burger_container {
            .header_burger {
              & span {}
              &:before, &:after {}
              &:before {}
              &:after {}
              &.active span {}
              &.active:before {}
              &.active:after {}
            }
          }
        }
        .whiteHead_menu {
          @include disJusAli(inline-flex, space-between, center);
          width: 100%;
          padding-top: 1em;
          .whiteHead_menu_socialMediaButton {
            box-sizing: border-box;
            flex: 2;
            & a img {
              background-position: center;
              max-width: 100%;
              background-color: $whiteColor;
            }
          }
          .navigation {
            flex: 6;
            .menu {}
          }
          .whiteHead_menu_logAndCart {
            flex-direction: row;
            flex: 2;
            margin: 0 auto;
            .container_logAndCart{
              .logIn, .cart {
                justify-content: center;
                box-sizing: border-box;
                white-space: nowrap;
                height: 2em;
                width: 50%;
              }
              .logInImage {}
              .cart {
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .header {
    .whiteHead {
      .whiteHead_container {
        .whiteHead_header_title_burger {
          .header_burger_container {}
        }
        .whiteHead_menu {
          @include disJusAli(inline-flex, space-between, center);
          .whiteHead_menu_socialMediaButton {
            flex: 1;
            & a img {}
          }
          .navigation {
            flex: 4;
            .menu {}
          }
          .whiteHead_menu_logAndCart {
            flex: 1;
            .container_logAndCart {
              .logIn, .cart {}
              .logInImage {}
              .cart {}
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .header {
    align-items: center;
    padding: 1.5em 0;
    width: 100%;
    //background-color: #dadada;
    background: url("../../Multimedia/decorative-christmas-arrangement-with-copy-space_23-21491559011.jpg") no-repeat top ;
    background-size: cover;
    .redHead {
      display: none;
    }
    .whiteHead {
      justify-content: space-between;
      padding-top: 0;
      padding-bottom: 0;
      width: 80%;
      .whiteHead_container {
        flex-direction: column-reverse;
        width: 100%;
        .whiteHead_header_title_burger {
          display: flex;
          justify-content: center;
          gap: 30%;
          width: 100%;
          margin: 0.5em auto;
          .header_burger_container {
            @include disJusAli(flex, flex-end, center);
            z-index: 30;
            .header_burger {
              @include disJusAli(flex, flex-end, center);
              & span {}
              &:before, &:after {}
              &:before {}
              &:after {}
              &.active span {}
              &.active:before {}
              &.active:after {}
            }
          }
         }
        .whiteHead_menu {
          display: flex;
          justify-content: center;
          position: relative;
          width: 100%;
          padding-top: 0;
          margin: 0.5em auto;
          .whiteHead_menu_socialMediaButton button {
            text-align: center;
            background-color: #f9fafa;
          }
          .navigation {
            display: none;
          }
          .whiteHead_menu_logAndCart {
            position: absolute;
            top: 0.5em;
            right: -7%;
            .container_logAndCart{
              .logIn {
                display: none;
              }
              .cart {
                //background-color: rgba(255, 255, 255, 0.69);
                //background-color: white;
                //box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
                border-radius: 0.5em;
                width: 100%;
                margin-right:  0.625em;
                transition: .5s ease;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    padding: 1.5em 0;
    width: 100%;
    background-color: #dadada;
    .redHead {
      display: none;
    }
    .whiteHead {
      display: flex;
      justify-content: space-between;
      padding-top: 0;
      padding-bottom: 0;
      width: 80%;
      .whiteHead_container {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        width: 100%;
        .whiteHead_header_title_burger {
          display: flex;
          justify-content: center;
          gap: 30%;
          width: 100%;
          margin: 0.5em auto;
          .whiteHead_header_title_h1{
            font-size: 1.5em;
          }
          .header_burger_container {
            margin-right: 4em;
            top: 5.45em;
            right: -2em;
            z-index: 49;
            @include disJusAli(flex, flex-end, center);
            .header_burger {
              @include disJusAli(flex, flex-end, center);
              & span {}
              &:before, &:after {}
              &:before {}
              &:after {}
              &.active span {}
              &.active:before {}
              &.active:after {}
            }
          }
        }
        .whiteHead_menu {
          display: flex;
          justify-content: center;
          position: relative;
          width: 100%;
          padding-top: 0;
          margin: 0.5em auto;
          font-size: 0.8rem;
          .whiteHead_menu_socialMediaButton button {
            text-align: center;
            background-color: #f9fafa;
          }
          .navigation {
            display: none;
          }
          .whiteHead_menu_logAndCart {
            position: absolute;
            top: 0.5em;
            right: -12%;
            .container_logAndCart{
              position: relative;
              .logIn {
                display: none;
              }
              .cart {
                font-size: 0.7rem;
                background: inherit;
                width: 100%;
                margin-right:  0.625em;
                transition: .5s ease;
              }
            }
          }
        }
      }
    }
  }
}


























