@keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@font-face {
  font-family: "proximaNova";
  src: url("../../Multimedia/ProximaNovaT-Thin.ttf");
}
.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  font: 1em Arial, Helvetica, sans-serif;
  width: inherit;
  background-color: #ffffff;
}
.header .redHead {
  font-size: 16px;
  font-family: "proximaNova", sans-serif;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.7em;
  padding: 1em;
  background-color: #f63f25;
  color: #ffffff;
}
.header .whiteHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
  width: 100%;
}
.header .whiteHead .whiteHead_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.header .whiteHead .whiteHead_container .whiteHead_header_title_burger h1 {
  text-align: center;
  font-size: 1.8em;
  font-weight: 600;
  cursor: pointer;
  color: #2f2b29;
}
.header .whiteHead .whiteHead_container .whiteHead_header_title_burger .whiteHead_header_title_h1 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}
.header .whiteHead .whiteHead_container .whiteHead_header_title_burger .header_burger_container {
  display: none;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2em;
}
.header .whiteHead .whiteHead_container .whiteHead_header_title_burger .header_burger_container .header_burger {
  display: none;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  width: 1.9em;
  height: 1.13em;
}
.header .whiteHead .whiteHead_container .whiteHead_header_title_burger .header_burger_container .header_burger span {
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: #2f2b29;
}
.header .whiteHead .whiteHead_container .whiteHead_header_title_burger .header_burger_container .header_burger:before, .header .whiteHead .whiteHead_container .whiteHead_header_title_burger .header_burger_container .header_burger:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #2f2b29;
  transition: all 0.4s ease 0s;
}
.header .whiteHead .whiteHead_container .whiteHead_header_title_burger .header_burger_container .header_burger:before {
  top: 0;
}
.header .whiteHead .whiteHead_container .whiteHead_header_title_burger .header_burger_container .header_burger:after {
  bottom: 0;
}
.header .whiteHead .whiteHead_container .whiteHead_header_title_burger .header_burger_container .header_burger.active span {
  transform: scale(0);
}
.header .whiteHead .whiteHead_container .whiteHead_header_title_burger .header_burger_container .header_burger.active:before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}
.header .whiteHead .whiteHead_container .whiteHead_header_title_burger .header_burger_container .header_burger.active:after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}
.header .whiteHead .whiteHead_container .whiteHead_menu {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 1em;
}
.header .whiteHead .whiteHead_container .whiteHead_menu .whiteHead_menu_socialMediaButton {
  display: flex;
  justify-content: center;
}
.header .whiteHead .whiteHead_container .whiteHead_menu .whiteHead_menu_socialMediaButton a img {
  background-size: contain;
  width: 1.5em;
  height: 1.5em;
  margin: 0.5em;
  max-width: 100%;
  background: center inherit;
}
.header .whiteHead .whiteHead_container .whiteHead_menu .navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}
.header .whiteHead .whiteHead_container .whiteHead_menu .navigation .menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-size: 1rem;
  font-family: "proximaNova", sans-serif;
  font-weight: 600;
  align-content: center;
  column-gap: 2.3em;
  row-gap: 1em;
  cursor: pointer;
  padding: 0.5em;
}
.header .whiteHead .whiteHead_container .whiteHead_menu .navigation .menu a {
  color: #1a1a1a;
}
.header .whiteHead .whiteHead_container .whiteHead_menu .navigation .menu a:hover {
  color: #f63f25;
}
.header .whiteHead .whiteHead_container .whiteHead_menu .whiteHead_menu_logAndCart {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.header .whiteHead .whiteHead_container .whiteHead_menu .whiteHead_menu_logAndCart .container_logAndCart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .whiteHead .whiteHead_container .whiteHead_menu .whiteHead_menu_logAndCart .container_logAndCart .logIn, .header .whiteHead .whiteHead_container .whiteHead_menu .whiteHead_menu_logAndCart .container_logAndCart .cart {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-family: "proximaNova", sans-serif;
  white-space: nowrap;
  font-weight: 800;
  width: 100%;
  background-color: #ffffff;
}
.header .whiteHead .whiteHead_container .whiteHead_menu .whiteHead_menu_logAndCart .container_logAndCart .logInImage {
  background-image: url("../../Multimedia/9035990_person_circle_sharp_icon.png");
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: center;
  max-width: 100%;
  height: 2em;
  width: 2em;
  padding: 8px;
  margin-right: 0.5em;
}
.header .whiteHead .whiteHead_container .whiteHead_menu .whiteHead_menu_logAndCart .container_logAndCart .cart {
  background-color: rgba(253, 253, 253, 0.65);
  transition: 0.5s ease;
  height: 2em;
}

@media screen and (min-width: 1200px) {
  .header .whiteHead .whiteHead_container .whiteHead_menu {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 1em;
  }
  .header .whiteHead .whiteHead_container .whiteHead_menu .whiteHead_menu_socialMediaButton {
    box-sizing: border-box;
    flex: 2;
  }
  .header .whiteHead .whiteHead_container .whiteHead_menu .whiteHead_menu_socialMediaButton a img {
    background-position: center;
    max-width: 100%;
    background-color: #ffffff;
  }
  .header .whiteHead .whiteHead_container .whiteHead_menu .navigation {
    flex: 6;
  }
  .header .whiteHead .whiteHead_container .whiteHead_menu .whiteHead_menu_logAndCart {
    flex-direction: row;
    flex: 2;
    margin: 0 auto;
  }
  .header .whiteHead .whiteHead_container .whiteHead_menu .whiteHead_menu_logAndCart .container_logAndCart .logIn, .header .whiteHead .whiteHead_container .whiteHead_menu .whiteHead_menu_logAndCart .container_logAndCart .cart {
    justify-content: center;
    box-sizing: border-box;
    white-space: nowrap;
    height: 2em;
    width: 50%;
  }
  .header .whiteHead .whiteHead_container .whiteHead_menu .whiteHead_menu_logAndCart .container_logAndCart .cart {
    margin-right: 10px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .header .whiteHead .whiteHead_container .whiteHead_menu {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .whiteHead .whiteHead_container .whiteHead_menu .whiteHead_menu_socialMediaButton {
    flex: 1;
  }
  .header .whiteHead .whiteHead_container .whiteHead_menu .navigation {
    flex: 4;
  }
  .header .whiteHead .whiteHead_container .whiteHead_menu .whiteHead_menu_logAndCart {
    flex: 1;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .header {
    align-items: center;
    padding: 1.5em 0;
    width: 100%;
  }
  .header .redHead {
    display: none;
  }
  .header .whiteHead {
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
    width: 80%;
  }
  .header .whiteHead .whiteHead_container {
    flex-direction: column-reverse;
    width: 100%;
  }
  .header .whiteHead .whiteHead_container .whiteHead_header_title_burger {
    display: flex;
    justify-content: flex-end;
    gap: 30%;
    width: 100%;
    margin: 0.5em auto;
  }
  .header .whiteHead .whiteHead_container .whiteHead_header_title_burger .header_burger_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .header .whiteHead .whiteHead_container .whiteHead_header_title_burger .header_burger_container .header_burger {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .header .whiteHead .whiteHead_container .whiteHead_menu {
    display: inline-flex;
    text-align: center;
    padding-top: 0;
    margin: 0.5em auto;
  }
  .header .whiteHead .whiteHead_container .whiteHead_menu .whiteHead_menu_socialMediaButton button {
    text-align: center;
    background-color: #f9fafa;
  }
  .header .whiteHead .whiteHead_container .whiteHead_menu .navigation {
    display: none;
  }
  .header .whiteHead .whiteHead_container .whiteHead_menu .whiteHead_menu_logAndCart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .header .whiteHead .whiteHead_container .whiteHead_menu .whiteHead_menu_logAndCart .container_logAndCart .logIn {
    display: none;
  }
  .header .whiteHead .whiteHead_container .whiteHead_menu .whiteHead_menu_logAndCart .container_logAndCart .cart {
    background: inherit;
    width: 100%;
    margin-right: 10px;
    transition: 0.5s ease;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    padding: 1.5em 0;
    width: 100%;
  }
  .header .redHead {
    display: none;
  }
  .header .whiteHead {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
    width: 80%;
  }
  .header .whiteHead .whiteHead_container {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    width: 100%;
  }
  .header .whiteHead .whiteHead_container .whiteHead_header_title_burger {
    display: flex;
    justify-content: flex-end;
    gap: 30%;
    width: 100%;
    margin: 0.5em auto;
  }
  .header .whiteHead .whiteHead_container .whiteHead_header_title_burger .header_burger_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .header .whiteHead .whiteHead_container .whiteHead_header_title_burger .header_burger_container .header_burger {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .header .whiteHead .whiteHead_container .whiteHead_menu {
    display: inline-flex;
    text-align: center;
    padding-top: 0;
    margin: 0.5em auto;
  }
  .header .whiteHead .whiteHead_container .whiteHead_menu .whiteHead_menu_socialMediaButton button {
    text-align: center;
    background-color: #f9fafa;
  }
  .header .whiteHead .whiteHead_container .whiteHead_menu .navigation {
    display: none;
  }
  .header .whiteHead .whiteHead_container .whiteHead_menu .whiteHead_menu_logAndCart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .header .whiteHead .whiteHead_container .whiteHead_menu .whiteHead_menu_logAndCart .container_logAndCart .logIn {
    display: none;
  }
  .header .whiteHead .whiteHead_container .whiteHead_menu .whiteHead_menu_logAndCart .container_logAndCart .cart {
    background: inherit;
    width: 100%;
    margin-right: 10px;
    transition: 0.5s ease;
  }
}

/*# sourceMappingURL=Header.module.css.map */
