.container_size {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.container_size .background_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url("/src/Multimedia/joanna-kosinska-dka5C8Ct2Fw-unsplash.jpg");
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.container_size .background_container .bottomOfHomePage_containerFeedbackFormContacts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 48%;
  row-gap: 5em;
  margin: 4em auto;
}
.container_size .background_container .bottomOfHomePage_containerFeedbackFormContacts .feedbackForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.73);
  padding: 1em;
  border-radius: 0.7em;
}
.container_size .background_container .bottomOfHomePage_containerFeedbackFormContacts .feedbackForm .feedbackForm_sendAMess {
  text-align: center;
  margin: 1em auto;
  font: 18px "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 3.5px;
  color: red;
}
.container_size .background_container .bottomOfHomePage_containerFeedbackFormContacts .feedbackForm img {
  width: 70px;
  height: 50px;
  font-size: 20px;
  transform: rotate(180deg);
}
.container_size .background_container .bottomOfHomePage_containerFeedbackFormContacts .feedbackForm .feedbackForm_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.container_size .background_container .bottomOfHomePage_containerFeedbackFormContacts .feedbackForm .feedbackForm_form .form_block {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  margin: 1em auto;
  width: 100%;
  font: 1em Arial, sans-serif;
}
.container_size .background_container .bottomOfHomePage_containerFeedbackFormContacts .feedbackForm .feedbackForm_form .form_block .form_nameEmail {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
}
.container_size .background_container .bottomOfHomePage_containerFeedbackFormContacts .feedbackForm .feedbackForm_form .form_block .form_nameEmail .form_element {
  flex-grow: 1;
}
.container_size .background_container .bottomOfHomePage_containerFeedbackFormContacts .feedbackForm .feedbackForm_form .form_block .form_element {
  padding: 9px;
  margin: 0.5em;
  border: 1px solid #c1c1c1;
  border-radius: 3px;
  background-color: white;
  color: red;
  cursor: pointer;
}
.container_size .background_container .bottomOfHomePage_containerFeedbackFormContacts .feedbackForm .feedbackForm_form .form_block .form_element:hover {
  color: red;
  background-color: #eeeeee;
  box-shadow: 0 0 0 1px black inset;
  border: 1px solid #000000;
  border-radius: 3px;
}
.container_size .background_container .bottomOfHomePage_containerFeedbackFormContacts .feedbackForm .feedbackForm_form .form_block ::placeholder {
  color: #fcb5ae;
  opacity: 1; /* Firefox */
}
.container_size .background_container .bottomOfHomePage_containerFeedbackFormContacts .feedbackForm .feedbackForm_form .form_button {
  padding: 0.7em 1em;
  background-color: red;
  min-width: 11.3em;
  color: white;
  border-radius: 1.5em;
  font: 1em Arial, sans-serif;
  transition: all 0.5s ease;
}
.container_size .background_container .bottomOfHomePage_containerFeedbackFormContacts .feedbackForm .feedbackForm_form .form_button:hover {
  color: red;
  background-color: #e7e7e7;
}
.container_size .background_container .bottomOfHomePage_containerFeedbackFormContacts .contacts {
  background-color: rgba(255, 255, 255, 0.73);
  width: 100%;
  border-radius: 6px;
}
.container_size .background_container .bottomOfHomePage_containerFeedbackFormContacts .contacts .contacts_contactUs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  font: 16px "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 3.5px;
  color: red;
}
.container_size .background_container .bottomOfHomePage_containerFeedbackFormContacts .contacts .contacts_contactUs img {
  width: 70px;
  height: 50px;
  font-size: 20px;
  transform: rotate(180deg);
}
.container_size .background_container .bottomOfHomePage_containerFeedbackFormContacts .contacts .contacts_numEmail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  margin: 0 auto;
  font: 16px "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 3px;
  color: #999a9e;
}
.container_size .background_container .bottomOfHomePage_containerFeedbackFormContacts .contacts .contacts_numEmail .contacts_numEmail_line {
  border-left: 2px solid #999a9e;
  height: 16px;
  margin: 0 12px;
}
.container_size .background_container .bottomOfHomePage_containerFeedbackFormContacts .contacts .contacts_numEmail a {
  color: #999a9e;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container_size .background_container .bottomOfHomePage_containerFeedbackFormContacts {
    row-gap: 0;
    width: 100%;
  }
  .container_size .background_container .bottomOfHomePage_containerFeedbackFormContacts .feedbackForm {
    width: 70%;
    margin: 3em auto;
  }
  .container_size .background_container .bottomOfHomePage_containerFeedbackFormContacts .feedbackForm .feedbackForm_sendAMess {
    width: 90%;
  }
  .container_size .background_container .bottomOfHomePage_containerFeedbackFormContacts .feedbackForm .feedbackForm_form {
    width: 90%;
  }
  .container_size .background_container .bottomOfHomePage_containerFeedbackFormContacts .feedbackForm .feedbackForm_form .form_block {
    width: 75%;
  }
  .container_size .background_container .bottomOfHomePage_containerFeedbackFormContacts .feedbackForm .feedbackForm_form .form_block .form_nameEmail {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
  }
  .container_size .background_container .bottomOfHomePage_containerFeedbackFormContacts .feedbackForm .feedbackForm_form .form_block .form_nameEmail .form_element {
    margin: 0.5em;
  }
  .container_size .background_container .bottomOfHomePage_containerFeedbackFormContacts .feedbackForm .feedbackForm_form .form_button {
    margin: 1em;
  }
  .container_size .background_container .bottomOfHomePage_containerFeedbackFormContacts .contacts {
    padding: 1em;
    width: 70%;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .container_size .background_container .bottomOfHomePage_containerFeedbackFormContacts {
    row-gap: 0;
    width: 100%;
  }
  .container_size .background_container .bottomOfHomePage_containerFeedbackFormContacts .feedbackForm {
    width: 70%;
    margin: 3em auto;
  }
  .container_size .background_container .bottomOfHomePage_containerFeedbackFormContacts .feedbackForm .feedbackForm_sendAMess {
    width: 90%;
  }
  .container_size .background_container .bottomOfHomePage_containerFeedbackFormContacts .feedbackForm .feedbackForm_form {
    width: 90%;
  }
  .container_size .background_container .bottomOfHomePage_containerFeedbackFormContacts .feedbackForm .feedbackForm_form .form_block {
    width: 75%;
    margin: 0;
  }
  .container_size .background_container .bottomOfHomePage_containerFeedbackFormContacts .feedbackForm .feedbackForm_form .form_block .form_nameEmail {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
  }
  .container_size .background_container .bottomOfHomePage_containerFeedbackFormContacts .feedbackForm .feedbackForm_form .form_block .form_nameEmail .form_element {
    margin: 0.5em;
  }
  .container_size .background_container .bottomOfHomePage_containerFeedbackFormContacts .feedbackForm .feedbackForm_form .form_button {
    margin: 1em;
  }
  .container_size .background_container .bottomOfHomePage_containerFeedbackFormContacts .contacts {
    padding: 1em;
    width: 70%;
  }
}

/*# sourceMappingURL=Contacts.module.css.map */
