@font-face {
  font-family: "proximaNova";
  src: url("../../Multimedia/ProximaNovaT-Thin.ttf");
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
  background-color: #232429;
  color: #eaf7ef;
}
.footer .footer_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2em;
  width: 980px;
  margin: 2em auto;
}
.footer .footer_container .footer_headBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.438em;
  width: 100%;
}
.footer .footer_container .footer_headBlock .footer_headBlock_deer {
  width: 85px;
  height: 85px;
  max-width: 100%;
  object-fit: contain;
  object-position: center center;
  background-image: url("https://static.wixstatic.com/media/c4a816_8067a3b0de5745dda0baac8a555294fc~mv2.png/v1/fill/w_128,h_128,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/c4a816_8067a3b0de5745dda0baac8a555294fc~mv2.png");
  background-position: center;
  background-size: contain;
}
.footer .footer_container .footer_headBlock .footer_headBlock_h2 {
  font: 26px "Oswald", sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  letter-spacing: 0.05em;
  font-style: normal;
  text-transform: uppercase;
  cursor: pointer;
}
.footer .footer_container .footer_headBlock .footer_headBlock_nav {
  display: flex;
  border-top: 1px solid #eaf7ef;
  width: 100%;
}
.footer .footer_container .footer_headBlock .footer_headBlock_nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 1.438em;
  margin-bottom: 1.438em;
  width: 100%;
}
.footer .footer_container .footer_headBlock .footer_headBlock_nav ul .menu {
  font-size: 14px;
  font-family: "proximaNova", sans-serif;
  font-weight: 600;
  color: white;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.footer .footer_container .footer_headBlock .footer_headBlock_nav ul span {
  margin: 0 1em;
}
.footer .footer_container .footer_mediumBlock {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  color: #f73f23;
  font-size: 16px;
  font-family: "proximaNova", sans-serif;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-align: center;
  width: 100%;
}
.footer .footer_container .footer_mediumBlock .footer_mediumBlock_socialMediaButton {
  display: flex;
  justify-content: center;
}
.footer .footer_container .footer_mediumBlock .footer_mediumBlock_socialMediaButton a img {
  width: 25px;
  height: 25px;
  margin: 0.5em;
  background-color: #232429;
  color: white;
  background-position: center;
  background-size: contain;
}
.footer .footer_container .footer_mediumBlock .footer_mediumBlock_a {
  display: inline-flex;
  column-gap: 1.1em;
}
.footer .footer_container .footer_mediumBlock .footer_mediumBlock_a .informLink {
  text-decoration: none;
  color: #f73f23;
}
.footer .footer_container .footer_footBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  font: 1em Arial, sans-serif;
  font-size: 14px;
  color: #838384;
}
.footer .footer_container .footer_footBlock a {
  text-decoration: underline;
  padding-left: 5px;
  color: #838384;
}

/*# sourceMappingURL=Footer.module.css.map */
