.products_Section_Cart{
  display: flex;
  justify-content: space-around;
  align-items:flex-start;
  width: 100%;
  height: 8em;
  padding-bottom: 1em;
  padding-top: 1em;
  border-bottom: 1px solid #b6b8be;
  .img_product_Section_Cart{
    width: 6em;
    height: border-box;
    border: 1px solid #b6b8be;
  }
  .container_name_quantity_price{
    display: flex;
    flex: 7;
    justify-content: space-between;
    align-items: flex-start;
    .name_price_product_Section_Cart{
      margin: 0 0.5em;
      text-align: start;
      flex:6;
      .name_product_Cart{
        text-decoration: none;
        letter-spacing: 0.2px;
        color: #252525;
      }
      .price_product_Cart{
        margin: 0.8em 0 ;
      }
    }
    .container_quantity_price{
      display: inline-flex;
      justify-content: center;
      align-items: center;
      column-gap: 0.5em;
      flex: 5;
      .quantity_product_Section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 1px solid #b6b8be;
        .quantity_btn_Cart{
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0.2rem;
          width: 1rem;
          font-size: 1.4rem;
          color: #575757;
        }
        .quantity_input_Cart{
          width: 2rem;
          padding: .4rem;
          font-size: 0.8rem;
          font-weight: 600;
          text-align: center;
          border: 0;
        }
      }
      .price_Sum_product_Section{
        padding: 5px;
        width: 5em;
        text-align: start;
        margin: 0.3em 0 ;
        background-color: #ffffff;
      }
    }
  }
  .delete_product_Section{
    flex:1;
    width: 2em;
    img{
      background: inherit;
      width: 2em;
    }
  }
}
@media screen and (min-width: 1200px) {}
@media screen and (min-width: 992px) and (max-width: 1199px){}
@media screen and (min-width: 768px) and (max-width: 991px){
  .products_Section_Cart{
    justify-content: space-between;
    .img_product_Section_Cart{
    }
    .container_name_quantity_price{
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      margin-left: 1em;
      .name_price_product_Section_Cart{
        margin: 0;
        .name_product_Cart{
        }
        .price_product_Cart{
          display: none;
        }
      }
      .container_quantity_price{
        justify-content: space-between;
        width: 100%;
        .quantity_product_Section{
          .quantity_btn_Cart{}
          .quantity_input_Cart{}
        }
        .price_Sum_product_Section{}
      }
    }
    .delete_product_Section{
      img{}
    }
  }
}
@media screen and (min-width: 320px) and (max-width: 768px){
  .products_Section_Cart{
    justify-content: space-between;
    height: min(8em, 10%);
    row-gap: 1em;
    flex-wrap: wrap;
    .img_product_Section_Cart{
    }
    .container_name_quantity_price{
      flex-direction: column;
      justify-content: space-around;
      row-gap: 1em;
      //height: 100%;
      margin-left: 1em;
      .name_price_product_Section_Cart{
        margin: 0;
        .name_product_Cart{
        }
        .price_product_Cart{
          display: none;
        }
      }
      .container_quantity_price{
        justify-content: space-between;
        width: 100%;
        .quantity_product_Section{
          .quantity_btn_Cart{}
          .quantity_input_Cart{}
        }
        .price_Sum_product_Section{}
      }
    }
    .delete_product_Section{
      img{}
    }
  }
}